<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>{{ nginx_index_title }}</title>
  </head>
  <body>
    <h1>{{ nginx_index_title }}</h1>

    <p>
<pre> _____________________________________
/ This is a ansible-playbook demo for \
\ KaLUG 1605.                         /
 -------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||</pre>
    </p>

    <p>
<pre>[ chusiang@nginx-demo.local ~ ]$ cat ~/.profile
- Author: chusiang
- Blog: http://note.drx.tw</pre>
    </p>
  </body>
</html>
