<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>KaLUG 1605 demo</title>
  </head>
  <style type="text/css" media="all">
    body {
      font-size: x-large;
    }
  </style>
  <body>
    <p>
<pre>[ {{ username }}@kalug ~ ]$ hostname
kalug.linux.org.tw
[ {{ username }}@kalug ~ ]$ cowsay $MESSAGE
 _____________________________________
/ This is a ansible-playbook demo for \
\ KaLUG meetup at 2016/05/28.         /
 -------------------------------------
        \   ^__^
         \  (oo)\_______
            (__)\       )\/\
                ||----w |
                ||     ||
[ {{ username }}@kalug ~ ]$
[ {{ username }}@kalug ~ ]$
[ {{ username }}@kalug ~ ]$ cat .profile
- {{ mail }}
- {{ blog }}</pre>
    </p>
  </body>
</html>
